<!DOCTYPE html>
<html lang="en">
  <% content_for :title do %>
    Terrier Scheduler
  <% end %>

<!--  <div class="schedule-grid container-fluid" style="grid-template-columns: 7rem repeat(<%#= @technicians.count %>, 500px); grid-template-rows:repeat(<%#= (@end_hour - @start_hour) * 3600%>, <%#= 7.0/3600.0 %>rem);">-->
<!--    <div class="schedule-header card-group">-->
<!--      <label style="width: 7rem;">Time</label>-->
      <%# @technicians.each_with_index do |technician, i| %>
<!--        <div class="technician-name card text-center" style="grid-row:<%#= i + 1 %>;"><%#= technician.name %></div>-->
      <%# end %>
<!--    </div>-->

<!--    <div class="time-labels">-->
      <%# (@end_hour - @start_hour).times do |hour|%>
        <%# if hour + @start_hour == 0 %>
<!--          <div class="time-slot card text-center">12:00 AM</div>-->
        <%# elsif hour + @start_hour == 12 %>
<!--          <div class="time-slot card text-center">12:00 PM</div>-->
        <%# elsif hour + @start_hour < 12 %>
<!--          <div class="time-slot card text-center"><%#= (hour + @start_hour) %>:00 AM</div>-->
        <%# else %>
<!--          <div class="time-slot card text-center"><%#= (hour + @start_hour) % 12 %>:00 PM</div>-->
        <%# end %>
      <%# end %>
<!--    </div>-->

<!--    <div class="technician-columns" style="grid-template-columns: 7rem repeat(<%#= @technicians.count %>, 500px); grid-template-rows:repeat(<%#= (@end_hour - @start_hour) * 3600%>, <%#= 7.0/3600.0 %>rem);">-->
      <%# @technicians.each_with_index do |tech, i| %>
<!--        <div class="technician-column" >-->
          <%# tech_orders = WorkOrder.where(technician: tech.technician_id) %>
          <%# tech_orders.each do |order| %>
<!--            <div class="work-order card" style="grid-column:<%#= i + 1 %>; grid-row-start: <%#= order.date_time.seconds_since_midnight - (@start_hour * 3600) %>; grid-row-end: <%#= order.date_time.seconds_since_midnight - (@start_hour * 3600) + (order.duration * 60) %>;">-->
              <%# order_location = Location.where(location_id: order.location).first %>
<!--                <label><%#= order.date_time %></label>-->
<!--                <label><%#= order_location.name %></label>-->
<!--                <label><%#= order_location.city %></label>-->
<!--                <label><%#= order.price %></label>-->
<!--            </div>-->
            <%# unless order == tech_orders.last %>
<!--              <div class="open-time card ">-->
<!--                <label>OPEN TIME</label>-->
<!--              </div>-->
            <%# end %>

          <%# end %>
<!--        </div>-->
      <%# end %>
<!--    </div>-->
<!--  </div>-->
  <div class="axis-holder">
    <div class="x-axis">
        <% @technicians.each_with_index do |technician, i| %>
                <div class="technician-name card" >Tech Name</div>
        <% end %>
    </div>

    <div class="y-axis">
      <div class="time-labels">
        <% (@end_hour - @start_hour).times do |hour|%>
          <% if hour + @start_hour == 0 %>
            <div class="time-slot card">12:00 AM</div>
          <% elsif hour + @start_hour == 12 %>
            <div class="time-slot card">12:00 PM</div>
          <% elsif hour + @start_hour < 12 %>
            <div class="time-slot card"><%= (hour + @start_hour) %>:00 AM</div>
          <% else %>
            <div class="time-slot card"><%= (hour + @start_hour) % 12 %>:00 PM</div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="new-grid">
      <% @technicians.each do |tech| %>
      <div class="new-column">
        <% tech_orders = WorkOrder.where(technician: tech.technician_id) %>
        <% tech_orders.each do |wo| %>
          <div class="new-wo card" style="height: <%= wo.duration * 8 / 60%>rem">
            <label><%= wo.date_time %></label>
            <label>Line 2</label>
            <label>Line 3</label>
            <label>Line 4</label>
          </div>
          <% unless wo == tech_orders.last %>
            <% free_duration = 10 %>
            <div class="open-time card" style="height: <%= free_duration %>px">
              <label>OPEN TIME</label>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>


  </div>

</html>
