<!DOCTYPE html>
<html lang="en">
<% content_for :title do %>
  Terrier Scheduler
<% end %>

<% content_for :head do %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<% end %>

<h1>Schedule</h1>
<p><%= notice %></p>
<script>
  console.log("TEST");
</script>

<div class="schedule-grid">
  <div class="schedule-header">
    <div>Time</div>
    <% @technicians.each do |technician| %>
      <div class="technician-name"><% technician.name %></div>
    <% end %>
  </div>

  <div class="time-labels">
    <% (@end_hour - @start_hour).times do |hour|%>
      <div class="time-slot">Hour <% hour %></div>
    <% end %>
  </div>

  <div class="technician-columns">
    <% @technicians.each do |tech| %>
      <div class="technician-column">
        <% @tech_orders = WorkOrder.where(technician: tech.id) %>
        <% @tech_orders.each do |order| %>
          <div class="work-order">
            <% order_location = Location.where(location_idid: order.location) %>
            <label><% order.date_time %></label>
            <label><% order_location.name %></label>
            <label><% order_location.city %></label>
            <label><% order.price %></label>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form_with url: import_schedule_index_path , method: :post do |form| %>
    <label for="work_orders">Work Orders</label>
    <%= form.file_field :work_order_form, accept: ".csv", multipart:true %>
    <%= form.button "Import" %>
  <% end %>
  <%#= form_with url: import_schedule_index_path , method: :post do |form| %>
<!--    <label for="technicians">Technicians</label>-->
    <%#= form.file_field :technician_file, accept: ".csv", name: "technicians" %>
<!--    <label for="locations">Locations</label>-->
    <%#= form.file_field :location_file, accept: ".csv", name: "locations" %>
    <%#= form.button "Import" %>
  <%# end %>


  <!-- Test Display -->
  <div id="test">
<!--    <h1>-->
<!--      Techs:-->
      <%#= @technicians.count %>
<!--    </h1>-->
    <%# @technicians.each do |tech| %>
      <%#= render tech %>
    <%# end %>

<!--    <h1>-->
<!--      Locs:-->
      <%#= @locations.count %>
<!--    </h1>-->
    <%# @locations.each do |loc| %>
      <%#= render loc %>
    <%# end %>

    <h1>
      WO:
      <%= @work_orders.count %>
    </h1>
    <% @work_orders.each do |wo| %>
      <%= wo.order_id %>
    <% end %>
  </div>

</div>

</html>